.about {
  @extend %page;
}
.about__wrapper {
}

.about__title {
  max-width: 124rem;
  margin: 0 auto;
  text-align: center;
  @extend %title-100;


  @include media('<phone') {
    max-width: 67.7rem;
  }
}
